In [2]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randint(5,size=5))
df=pd.DataFrame(np.random.rand(5,5))
print(s)
print(df)
df.dtypes
print(df[0])
#df.loc[row_indexer, "col"] = values
df.loc[0,0]=0.853456
#df[0][0]=0.853456
print(df[0])

0    0
1    1
2    1
3    0
4    4
dtype: int32
          0         1         2         3         4
0  0.304151  0.405367  0.991107  0.825061  0.101843
1  0.775316  0.871109  0.657547  0.461990  0.229586
2  0.756455  0.020590  0.153868  0.355756  0.703577
3  0.551948  0.257640  0.934165  0.558308  0.640034
4  0.587092  0.090567  0.277687  0.400855  0.991835
0    0.304151
1    0.775316
2    0.756455
3    0.551948
4    0.587092
Name: 0, dtype: float64
0    0.853456
1    0.775316
2    0.756455
3    0.551948
4    0.587092
Name: 0, dtype: float64

In [3]:
df=pd.DataFrame(np.random.rand(5,5))
print(df)
print("Transpose ")
print(df.transpose())
Mean=df.mean()
print("Here Mean is :" ,Mean)
Variance=df.var()
print("Here Variance is :",Variance)

          0         1         2         3         4
0  0.242837  0.226354  0.046837  0.999906  0.657446
1  0.644059  0.443679  0.530602  0.214552  0.659783
2  0.302653  0.838987  0.264464  0.423923  0.965030
3  0.478898  0.571268  0.969868  0.032339  0.055527
4  0.328267  0.273722  0.450417  0.495131  0.439256
Transpose
          0         1         2         3         4
0  0.242837  0.644059  0.302653  0.478898  0.328267
1  0.226354  0.443679  0.838987  0.571268  0.273722
2  0.046837  0.530602  0.264464  0.969868  0.450417
3  0.999906  0.214552  0.423923  0.032339  0.495131
4  0.657446  0.659783  0.965030  0.055527  0.439256
Here Mean is : 0    0.399343
1    0.470802
2    0.452437
3    0.433170
4    0.555408
dtype: float64
Here Variance is : 0    0.026277
1    0.061246
2    0.118423
3    0.133393
4    0.113117
dtype: float64

In [4]:
df=pd.DataFrame(np.random.rand(4,4))
df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"))
df2 = pd.DataFrame(np.arange(16))
print(df)
print("Maximum value",df.max())
print("Minimum value",df.min())
print(df.sum(axis=0))
print(df1.sum(axis=0))
print(df1)
print(df2)

          0         1         2         3
0  0.073729  0.576513  0.132422  0.148360
1  0.386995  0.345030  0.587458  0.219141
2  0.475958  0.309940  0.301649  0.617304
3  0.934063  0.623608  0.149754  0.677385
Maximum value 0    0.934063
1    0.623608
2    0.587458
3    0.677385
dtype: float64
Minimum value 0    0.073729
1    0.309940
2    0.132422
3    0.148360
dtype: float64
0    1.870746
1    1.855092
2    1.171284
3    1.662189
dtype: float64
A    24
B    28
C    32
D    36
dtype: int64
    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15

In [5]:
dict={
    "one": pd.Series(["A","B","C","D"], index=["a","b","c","d"] ),
    "two" : pd.Series([1,2,3])
}
df = pd.DataFrame(dict)
df

   one  two
a    A  NaN
b    B  NaN
c    C  NaN
d    D  NaN
0  NaN  1.0
1  NaN  2.0
2  NaN  3.0

In [6]:
df.isna().sum()

one    3
two    4
dtype: int64

In [ ]:
df['two'].fillna(df['two'].mean(),inplace=True)
df

In [10]:
dict={
    "one": pd.Series(["A","B","C","D"], index=["a","b","c","d"] ),
    "two" : pd.Series([1,2,3])
}
df = pd.DataFrame(dict)
df['one'] = df['one'].fillna(8)
df['two'] = df['two'].fillna(0)
df

  one  two
a   A  0.0
b   B  0.0
c   C  0.0
d   D  0.0
0   8  1.0
1   8  2.0
2   8  3.0

In [9]:
dict

{'one': a    A
 b    B
 c    C
 d    D
 dtype: object,
 'two': 0    1
 1    2
 2    3
 dtype: int64}