In [2]:
import pandas as pd

encoding have 2 stanadaerds:
1.utf-8
2.latin1

In [ ]:
df = pd.read_csv("sales_data_sample.csv",encoding="latin1")
print(df)

In [ ]:
ds = pd.read_excel("sales_data_sample.xlsx")
print(ds)

In [ ]:
da = pd.read_json("sales_data_sample.json")
print(pa)

In [3]:
dat = {
    "Name":['Ram','Shyam','Ghanshyam'],
    "Age" :[15,16,19],
    "City":['Nagpur','Mumbai','Delhi']
}

ha = pd.DataFrame(dat,index=Fal)
ha

        Name  Age    City
0        Ram   15  Nagpur
1      Shyam   16  Mumbai
2  Ghanshyam   19   Delhi

In [4]:
ha.to_csv("output.csv")

In [5]:
ha.to_json("output.json")

In [6]:
ha.to_xlsx("output.xlsx")

AttributeError: 'DataFrame' object has no attribute 'to_xlsx'

In [7]:
ha.to_excel("output.xlsx")